API_ID = 18463708
API_HASH = 82f51905d258d44c2fef51f55e6c1a2c
BOT_TOKEN = 5079606518:AAEYg-zrndCk0_kS8K1OSn4lljPvkZmcw90
SESSION_STRING = BQBucYXPOPKvbHlbPwZpYQ59voBtWrxWMV6bJfxYTvjj8_O63rA21quEB5o4kHPyiXLZN_y6pmpaJcMOXwTTiIvRfZQzqnnRVoHyNTUMgWBAK7wDHnLzlPGO3DaIHFhL5meuR3bGLVkeNviavyiVe-ypzO8ac-qSv-C1G7iR7Zg96CyzZuRKfAV1aC98Hc3ZNcxqo6aGfg4FL-dFz3con7IHY2fxDLQGIT7XPx-v7g8aZhYoXRUILASNP7PZ2gslkBJLryf0doqgC8DyF901JYDujHh7mfRk_CBRFoF4Tto5UwXokX0HEcBhQAlaP7iUB5DiNpHWOdXbdDy6WcKmAdKLZZm-hwA
CHAT = -1789999645
ADMINS = "1704574599"
